@{
  Layout = "_Layout";
}

<h1>Pierre's Bakery</h1>
<hr/>
@if (User.Identity.IsAuthenticated)
{
  <h2 id="user">Bonjour @User.Identity.Name!</h2>
}
else
{
  <h2>Bonjour!</h2>
}
<br>

@using Pierres.Models

<h2>Treats:</h2>
<hr/>
@if (@ViewBag.Treats.Count == 0)
{
  <h3>No Treats Available</h3>
}
else
{
  @foreach (Treat treat in @ViewBag.Treats)
  {
    <h3>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</h3>
    if (treat.JoinEntities.Count > 0)
    {
      <p>Flavors: 
      @foreach (Taste taste in treat.JoinEntities)
      {
        <span>-@Html.ActionLink(taste.Flavor.Name, "Details", "Flavors", new { id = taste.Flavor.FlavorId })</span>
      }
      </p>
    }
  }
}
<hr/>
<br>

<h2>Flavors:</h2>
<hr/>
@if (@ViewBag.Flavors.Count == 0)
{
  <h3>No Flavors Added</h3>
}
else
{
  @foreach (Flavor flavor in @ViewBag.Flavors)
  {
    <h3>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</h3>
    if (flavor.JoinEntities.Count > 0)
    {
      <p>Treats: 
      @foreach (Taste taste in flavor.JoinEntities)
      {
        <span>-@Html.ActionLink(taste.Treat.Name, "Details", "Treats", new { id = taste.Treat.TreatId })</span>
      }
      </p>
    }
  }
}
<hr/>