@{
  Layout = "_Layout";
}

@using Pierres.Models
@model Pierres.Models.Flavor

<h2>Flavor: @Html.DisplayFor(model => model.Name)</h2>
<hr/>
@if (Model.JoinEntities.Count == 0)
{
  <h3>No Associated Treats</h3>
}
else
{
  <h3>Treats:</h3>
  @if (User.Identity.IsAuthenticated)
  {
    @foreach(Taste join in Model.JoinEntities)
    {
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.TasteId)
        <h4>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId })<button style="color:red;" type="submit" class="btn btn-link">Remove</button></h4>
      }
    }
  }
  else
  {
    @foreach(Taste join in Model.JoinEntities)
    {
      <h4>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId })</h4>
    }
  }
}
<hr/>

@if (User.Identity.IsAuthenticated)
{
  <button class="btn btn-success btn-sm">@Html.ActionLink("ADD TREAT", "AddTreat", new { id = Model.FlavorId })</button>
  <button class="btn btn-secondary btn-sm">@Html.ActionLink("EDIT", "Edit", new { id = Model.FlavorId })</button>
  <button class="btn btn-danger btn-sm">@Html.ActionLink("DELETE", "Delete", new { id = Model.FlavorId })</button><br><br>
}